<div class="flex flex-wrap w-full h-full">
  <div *ngIf="roleId === 1" class="w-full">
    <main class="flex-1 transition-all duration-300 w-full h-full">
      <div class="w-full h-full flex gap-4">
        <!-- Form on the left -->
        <div class="bg-white rounded-lg shadow-md p-6 w-3/4 h-full">
          <div class="mb-4 flex gap-4">
            <label class="inline-flex items-center">
              <input
                type="radio"
                name="formType"
                value="user"
                [(ngModel)]="selectedForm"
                class="form-radio text-blue-600"
              />
              <span class="ml-2">User</span>
            </label>
            <label class="inline-flex items-center">
              <input
                type="radio"
                name="formType"
                value="organization"
                [(ngModel)]="selectedForm"
                class="form-radio text-blue-600"
              />
              <span class="ml-2">Organization</span>
            </label>
          </div>
          <ng-container
            *ngIf="isLoadingUsers || isLoadingOrgs; else userFormTemplate"
          >
            <!-- Form Skeleton -->
            <div
              *ngFor="let f of [1,2,3]"
              class="animate-pulse h-8 bg-gray-200 rounded mb-4"
            ></div>
            <div class="flex justify-end gap-3 mt-4">
              <div class="animate-pulse h-8 w-20 bg-gray-300 rounded"></div>
              <div class="animate-pulse h-8 w-20 bg-blue-300 rounded"></div>
            </div>
          </ng-container>

          <ng-template #userFormTemplate>
            <form
              *ngIf="selectedForm === 'user'"
              (ngSubmit)="createOrModifyUser()"
              #userForm="ngForm"
              class="space-y-5 w-full h-full p-4 relative"
            >
              <div class="flex gap-x-4">
                <div class="w-1/2">
                  <label
                    for="name"
                    class="block text-sm font-medium text-gray-700"
                    >Name</label
                  >
                  <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    [(ngModel)]="userFormData.name"
                    class="mt-1 block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
                <div class="relative w-1/2">
                  <label
                    for="organization"
                    class="block text-sm font-medium text-gray-700"
                    >Organization</label
                  >

                  <select
                    id="organization"
                    name="organization"
                    required
                    [(ngModel)]="userFormData.organizationid"
                    class="peer mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 appearance-none border p-2 focus:ring-opacity-5 bg-white"
                  >
                    <option value="" disabled selected>
                      Select an organization
                    </option>
                    <option *ngFor="let org of organizations" [value]="org.id">
                      {{ org.name }}
                    </option>
                  </select>

                  <!-- Custom dropdown icon -->
                  <div
                    class="pointer-events-none absolute right-0 top-1/2 transform -translate-y-1/2 pr-3 transition-transform duration-200 peer-focus:rotate-180 peer-focus:mt-5 peer-focus:mr-2"
                  >
                    <svg
                      class="w-5 h-5 mt-5 text-gray-400"
                      style="transform-origin: center"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                      />
                    </svg>
                  </div>
                </div>

                <div class="relative w-1/2">
                  <label
                    for="role"
                    class="block text-sm font-medium text-gray-700"
                    >Role</label
                  >
                  <select
                    id="role"
                    name="roleId"
                    required
                    [(ngModel)]="userFormData.roleId"
                    class="peer mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 appearance-none border p-2 focus:ring-opacity-5 bg-white"
                  >
                    <option value="" disabled selected>Select the Role</option>
                    <option *ngFor="let role of roles" [value]="role.id">
                      {{ role.name }}
                    </option>
                  </select>
                  <div
                    class="pointer-events-none absolute right-0 top-1/2 transform -translate-y-1/2 pr-3 transition-transform duration-200 peer-focus:rotate-180 peer-focus:mt-5 peer-focus:mr-2"
                  >
                    <svg
                      class="w-5 h-5 mt-5 text-gray-400"
                      style="transform-origin: center"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="flex gap-x-4">
                <div class="w-1/2">
                  <label
                    for="email"
                    class="block text-sm font-medium text-gray-700"
                    >Email</label
                  >
                  <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    [(ngModel)]="userFormData.email"
                    class="mt-1 block w-full max-w-5xl rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
                <div *ngIf="!selectedUserId" class="w-1/2">
                  <label
                    for="password"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Password
                  </label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    [(ngModel)]="userFormData.password"
                    class="mt-1 block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
              </div>
              <div class="flex gap-x-4">
                <div class="w-1/2">
                  <label
                    for="phone"
                    class="block text-sm font-medium text-gray-700"
                    >Phone Number</label
                  >
                  <input
                    type="text"
                    id="phone"
                    name="phone"
                    maxlength="10"
                    (keypress)="allowNumbersOnly($event)"
                    required
                    [(ngModel)]="userFormData.phone"
                    class="mt-1 block w-full max-w-5xl rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
                <div class="w-1/2">
                  <label
                    for="street"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Street
                  </label>
                  <input
                    type="text"
                    id="street"
                    name="street"
                    required
                    [(ngModel)]="userFormData.street"
                    class="mt-1 block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
              </div>
              <div class="flex gap-x-4">
                <div class="w-1/2">
                  <label
                    for="city"
                    class="block text-sm font-medium text-gray-700"
                    >City</label
                  >
                  <input
                    type="text"
                    id="city"
                    name="city"
                    required
                    [(ngModel)]="userFormData.city"
                    class="mt-1 block w-full max-w-5xl rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
                <div class="w-1/2">
                  <label
                    for="state"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Street
                  </label>
                  <input
                    type="text"
                    id="state"
                    name="state"
                    required
                    [(ngModel)]="userFormData.state"
                    class="mt-1 block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
              </div>
              <div class="flex gap-x-4">
                <div class="w-1/2">
                  <label
                    for="postalcode"
                    class="block text-sm font-medium text-gray-700"
                    >Postal Code</label
                  >
                  <input
                    type="text"
                    id="postalcode"
                    name="postalcode"
                    pattern="[0-9]*"
                    maxlength="6"
                    (keypress)="allowNumbersOnly($event)"
                    required
                    [(ngModel)]="userFormData.postalcode"
                    class="mt-1 block w-full max-w-5xl rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
                <div class="w-1/2">
                  <label
                    for="country"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Country
                  </label>
                  <input
                    type="text"
                    id="country"
                    name="country"
                    required
                    [(ngModel)]="userFormData.country"
                    class="mt-1 block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
              </div>

              <div class="absolute bottom-10 right-4 flex gap-3">
                <button
                  type="button"
                  (click)="resetUserForm()"
                  class="px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 transition"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  [disabled]="!userForm.form.valid"
                  class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition disabled:opacity-50"
                >
                  {{ selectedUserId ? 'Modify' : 'Create' }}
                </button>
              </div>
            </form>

            <!-- Organization Form -->
            <form
              *ngIf="selectedForm === 'organization'"
              (ngSubmit)="createOrModifyOrganization()"
              #orgForm="ngForm"
              class="space-y-5 w-full h-full"
            >
              <div>
                <label
                  for="orgName"
                  class="block text-sm font-medium text-gray-700"
                  >Organization Name</label
                >
                <input
                  type="text"
                  id="orgName"
                  name="orgName"
                  required
                  [(ngModel)]="orgFormData.name"
                  class="mt-1 block w-1/2 rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
              </div>

              <div>
                <label
                  for="orgEmail"
                  class="block text-sm font-medium text-gray-700"
                  >Email</label
                >
                <input
                  type="email"
                  id="orgEmail"
                  name="orgEmail"
                  required
                  [(ngModel)]="orgFormData.email"
                  class="mt-1 block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                />
              </div>

              <div class="flex justify-end gap-3 pt-4">
                <button
                  type="button"
                  (click)="resetOrgForm()"
                  class="px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 transition"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  [disabled]="!orgForm.form.valid"
                  class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition disabled:opacity-50"
                >
                  {{ selectedOrgId ? 'Modify' : 'Create' }}
                </button>
              </div>
            </form>
          </ng-template>
        </div>

        <!-- Users list on the right -->
        <div
          class="bg-white rounded-lg shadow-md p-6 hidden md:flex md:flex-col md:w-1/4 md:h-full"
        >
          <!-- Users container -->
          <div class="flex-1 overflow-auto">
            <div>
              {{ selectedForm === 'user' ? 'List of Users' : 'List of
              Organizations' }}
              <span>
                ({{ selectedForm === 'user' ? filteredUsers.length :
                filteredOrgs.length }})
              </span>
            </div>

            <ng-container
              *ngIf="isLoadingUsers || isLoadingOrgs; else usersList"
            >
              <!-- Users Skeleton -->
              <div
                *ngFor="let s of [1,2,3,4,5]"
                class="animate-pulse p-2 my-1 bg-gray-200 rounded h-6"
              ></div>
            </ng-container>

            <ng-template #usersList>
              <div *ngIf="selectedForm === 'user'">
                <div
                  *ngIf="filteredUsers.length > 0; else noUsers"
                  class="pt-2"
                >
                  <ul>
                    <li
                      *ngFor="let user of filteredUsers"
                      class="cursor-pointer hover:bg-gray-200 p-1 rounded py-1 m-1"
                      [ngClass]="{ 'bg-blue-200': selectedUserId === user.id }"
                      (click)="selectUser(user)"
                    >
                      {{ user.name }}
                    </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="selectedForm === 'organization'">
                <div *ngIf="filteredOrgs.length > 0; else noOrgs" class="pt-2">
                  <ul>
                    <li
                      *ngFor="let org of filteredOrgs"
                      class="cursor-pointer hover:bg-gray-200 p-1 rounded py-1 m-1"
                      [ngClass]="{ 'bg-green-200': selectedOrgId === org.id }"
                      (click)="selectOrg(org)"
                    >
                      {{ org.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>

            <ng-template #noUsers>No users found.</ng-template>
            <ng-template #noOrgs>No organizations found.</ng-template>
          </div>

          <!-- Search input at the bottom -->
          <div class="mt-2">
            <input
              type="text"
              [(ngModel)]="searchText"
              (ngModelChange)="onSearchChange()"
              placeholder="Search by name"
              class="w-full p-2 border border-gray-300 rounded"
            />
          </div>
        </div>
      </div>
    </main>
  </div>

  <div *ngIf="roleId === 2" class="w-full">
    <!-- Admin content -->
  </div>
</div>
