<nav
  *ngIf="!isLoginPage()"
  class="fixed top-0 left-0 w-full bg-white shadow-md z-50"
>
  <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">
    <div class="text-xl font-bold text-gray-800">ERP Dashboard</div>

    <ul class="hidden md:flex space-x-6 text-gray-700 font-medium">
      <li *ngIf="!auth.isLoggedIn()">
        <a
          routerLink="/home"
          routerLinkActive="text-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="cursor-pointer"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="s/ai"
          routerLinkActive="text-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="cursor-pointer"
          (click)="onAiClick()"
        >
          AI
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="text-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="cursor-pointer"
        >
          About
        </a>
      </li>

      <!-- Login -->
      <li *ngIf="!auth.isLoggedIn() && !isLoginPage()">
        <a
          routerLink="/login"
          routerLinkActive="text-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="cursor-pointer"
        >
          Login
        </a>
      </li>

      <!-- Logout -->
      <li *ngIf="auth.isLoggedIn() && !isLoginPage()">
        <a (click)="logout()" class="cursor-pointer text-red-500"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
