<ng-container *ngIf="!isNotFoundPage() && !isLoginPage()">
  <app-navbar></app-navbar>

  <div class="pt-16 min-h-screen bg-gray-100 flex">
    <app-sidenavbar
      *ngIf="authService.isLoggedIn() && !isHomePage()"
      (sectionSelected)="handleSection($event)"
    ></app-sidenavbar>

    <app-subsidenavbar
      *ngIf="showSubnav() && !isHomePage()"
      [section]="selectedSection"
      class="transition-all duration-300 w-64"
    ></app-subsidenavbar>
    <main
      class="flex-1 transition-all duration-300"
      [ngClass]="getMainMarginClass()"
    >
      <div class="p-6 w-full h-full">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</ng-container>
<ng-container *ngIf="isLoginPage()">
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</ng-container>
<ng-container *ngIf="isNotFoundPage()">
  <router-outlet></router-outlet>
</ng-container>
