<div class="p-6 grid grid-cols-12 gap-6">
  <!-- Left panel -->
  <div class="col-span-3">
    <div class="bg-white rounded-lg shadow p-4 mb-4">
      <h2 class="font-bold text-lg">Employee #{{user.id}}</h2>
      <p class="text-gray-600">{{user.name}}</p>
      <div class="mt-4">
        <p><b>Role:</b> {{user.role}}</p>
        <p><b>Template:</b> {{user.template}}</p>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="font-bold mb-2">For Company</h3>
      <div class="grid grid-cols-2 gap-2 max-h-96 overflow-y-auto">
        <label *ngFor="let c of companies" class="flex items-center gap-2">
          <input
            type="checkbox"
            [(ngModel)]="selectedCompanies"
            [value]="c"
            [checked]="selectedCompanies.includes(c)"
          />
          {{c}}
        </label>
      </div>
    </div>
  </div>

  <!-- Right panel -->

  <div class="col-span-9 grid grid-cols-2 gap-4 auto-rows-auto">
    <div
      *ngFor="let group of permissionGroups"
      class="rounded-lg shadow bg-white h-auto"
    >
      <div
        class="p-3 text-white font-bold rounded-t-lg"
        [ngClass]="group.color"
      >
        {{ group.title }}
      </div>
      <div class="p-4 space-y-4">
        <div *ngFor="let perm of group.permissions" class="pb-2">
          <div class="font-semibold mb-2">{{ perm.label }}</div>
          <div class="grid grid-cols-3 gap-2">
            <label
              ><input type="checkbox" [(ngModel)]="perm.canread" /> Read</label
            >
            <label
              ><input type="checkbox" [(ngModel)]="perm.canwrite" />
              Write</label
            >
            <label
              ><input type="checkbox" [(ngModel)]="perm.canput" /> Put</label
            >
            <label
              ><input type="checkbox" [(ngModel)]="perm.candelete" />
              Delete</label
            >
            <label
              ><input type="checkbox" [(ngModel)]="perm.isvisible" />
              Visible</label
            >
            <label
              ><input type="checkbox" [(ngModel)]="perm.ishidden" />
              Hidden</label
            >
            <label
              ><input type="checkbox" [(ngModel)]="perm.isrestricted" />
              Restricted</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
